        
        <!-- main listsings page -->
        <div data-role="page" id="page_reviews_list" tabindex="0"  data-theme="a">

            <div data-role="header" data-position="fixed" role="banner" style="">
                <h1>LCBO Buddy</h1>
            </div><!-- /header -->

            <div data-role="content" role="main">
                <div id="info_box"></div>
                <ul data-role="listview" data-inset="true" data-filter="true" id="listings_listview">
                </ul>
                <div data-role="productdetails"></div>
            </div><!-- /content -->
            
            <div data-role="footer" data-position="fixed" data-id="main-footer" role="contentinfo" style="">
                <div data-role="navbar"  role="navigation">
                    <ul>
                        <li><a href="#page_reviews_list" class="ui-btn-active ui-state-persist"  data-role="button" data-icon="home">Home</a></li>
                        <li><a href="#page_product_search" data-role="button" data-icon="search">Search</a></li>
                        <li><a href="#page_cart" data-role="button" data-icon="search">My List</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div><!-- /page -->

        <!-- detail page -->
        <div data-role="page" id="page_product_details" data-theme="a">

            <div data-role="header" data-position="fixed">
                <h1>Product Details</h1>
            </div><!-- /header -->

            <div data-role="content">
            </div><!-- /content -->
            <div><a href="#page_reviews_list" data-role="button" data-icon="arrow-l">Back</a></div>

            <div data-role="footer" data-id="main-footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#page_reviews_list" class="ui-btn-active ui-state-persist"  data-role="button" data-icon="home">Home</a></li>
                        <li><a href="#page_product_search" data-role="button" data-icon="search">Search</a></li>
                        <li><a href="#page_cart" data-role="button" data-icon="search">My List</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div><!-- /page --> 

        <!-- search page -->
        <div data-role="page" id="page_product_search" data-theme="a">

            <div data-role="header" data-position="fixed">
                <h1>Add Product</h1>
            </div><!-- /header -->

            <div data-role="content">
                <form action="#page_product_search" method="GET" id="product_search_search_form">
                    <label for="product_search_search_term">What are you looking for?</label>
                    <input type="search" name="product" id="product_search_search_term" />
                    <input type="submit" name="go" value="Search" id="product_search_search_button" />
                </form>
                <ul data-role="listview" data-inset="true"  id="search_results_listview">
                </ul>
                <div id="more_button"></div>
            </div><!-- /content -->

            <div data-role="footer"  data-id="main-footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#page_reviews_list" data-role="button" data-icon="home">Home</a></li>
                        <li><a href="#page_product_search" class="ui-btn-active ui-state-persist"  data-role="button" data-icon="search">Search</a></li>
                        <li><a href="#page_cart" data-role="button" data-icon="search">My List</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div><!-- /page -->

        <!-- search details -->
        <div data-role="page" id="page_search_details" data-theme="a">

            <div data-role="header" data-position="fixed">
                <h1>Product Details</h1>
            </div><!-- /header -->

            <div data-role="content">
            </div><!-- /content -->
            <div><a href="#page_product_search" data-role="button" data-icon="arrow-l">Back to Search</a></div>

            <div data-role="footer"  data-id="main-footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#page_reviews_list" data-role="button" data-icon="home">Home</a></li>
                        <li><a href="#page_product_search" class="ui-btn-active ui-state-persist"  data-role="button" data-icon="search">Search</a></li>
                        <li><a href="#page_cart" data-role="button" data-icon="search">My List</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div><!-- /page -->
        
        <!-- cart details -->
        <div data-role="page" id="page_details_cart" data-theme="a">

            <div data-role="header" data-position="fixed">
                <h1>Product Details</h1>
            </div><!-- /header -->

            <div data-role="content">
            </div><!-- /content -->
        <div>
            <a href="#page_cart" id="button_remove_from_cart" data-role="button" data-icon="delete">Delete From My List</a>
            <a href="#page_cart" data-role="button" data-icon="arrow-l">Back</a>
        </div>

            <div data-role="footer"  data-id="main-footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#page_reviews_list" data-role="button" data-icon="home">Home</a></li>
                        <li><a href="#page_product_search" data-role="button" data-icon="search">Search</a></li>
                        <li><a href="#page_cart" data-role="button" class="ui-btn-active ui-state-persist"  data-icon="search">My List</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div><!-- /page -->

        <!-- cart page -->
        <div data-role="page" id="page_cart" data-theme="a">

            <div data-role="header" data-position="fixed">
                <h1>My List</h1>
            </div><!-- /header -->

            <div data-role="content">
                <ul data-role="listview" data-inset="true" id="cart_listview">
                </ul>
            </div><!-- /content -->
            
            <div data-role="footer" data-id="main-footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#page_reviews_list" data-role="button" data-icon="home">Home</a></li>
                        <li><a href="#page_product_search" data-role="button" data-icon="search">Search</a></li>
                        <li><a href="#page_cart" data-role="button" class="ui-btn-active ui-state-persist" data-icon="search">My List</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div><!-- /page -->
        
        <!-- stores page -->
        <div data-role="page" id="page_stores" data-theme="a">

            <div data-role="header" data-position="fixed">
                <h1>Nearby Stores</h1>
            </div><!-- /header -->

            <div data-role="content">
                <ul data-role="listview" data-inset="true" id="stores_listview">
                </ul>
            </div><!-- /content -->
            
            <div data-role="footer" data-id="main-footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#page_reviews_list" data-role="button" data-icon="home">Home</a></li>
                        <li><a href="#page_product_search" data-role="button" data-icon="search">Search</a></li>
                        <li><a href="#page_cart" data-role="button" class="ui-btn-active ui-state-persist" data-icon="search">My List</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div><!-- /page -->
    </body>