.circle {
  display: block;
  display: block;
  width: 30px;
  height: 30px;
  background: #ff0000;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.badge {
  background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
  background-color: red;
  border: 2px solid white;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  color: white;
  font: bold 15px/13px Helvetica, Verdana, Tahoma;
  height: 16px; 
  min-width: 14px;
  padding: 4px 3px 0 3px;
  text-align: center;
  max-width: 20px;
}
